.skills-box {
  width: 100%;
  margin-top: 5%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* list-style: none;  */
  font-style: italic;
  text-align: left;
  font-size: 1rem;
  letter-spacing: .06rem;
  background-color: rgb(26, 23, 23);
  border: 0px solid #ccc;
  color: white;
  box-shadow: 2px 2px 5px grey;
}
